<%= provide(:title, "Dashboard") %>

<% content_for :page_header do %>
	<h1>Dashboard <small>small</small></h1>
<% end %>

<%= provide(:breadcrumb, gen_breadcrumb({"หน้าแรก": "active"})) %>

<h1>This is Application#index</h1>
